<% include ./partials/header.ejs %>
<div
  class="min-h-screen w-full flex items-center justify-center bg-cream px-4 py-10"
>
  <div
    class="bg-white w-full max-w-xs sm:max-w-sm px-6 py-8 rounded-2xl text-primary shadow-xl"
  >
    <form action="/change-password" method="post" class="space-y-5">
      <div>
        <label class="block mb-1 text-sm font-medium">Old Password</label>
        <input
          class="w-full px-4 py-2 rounded-lg text-primary text-sm bg-cream border border-primary focus:outline-none focus:ring-2 focus:ring-primary"
          type="password"
          name="oldPassword"
          placeholder="Old password"
          required
        />
      </div>
      <div>
        <label class="block mb-1 text-sm font-medium">New Password</label>
        <input
          class="w-full px-4 py-2 rounded-lg text-primary text-sm bg-cream border border-primary focus:outline-none focus:ring-2 focus:ring-primary"
          type="password"
          name="newPassword"
          placeholder="New password"
          required
        />
      </div>
      <div>
        <label class="block mb-1 text-sm font-medium"
          >Confirm New Password</label
        >
        <input
          class="w-full px-4 py-2 rounded-lg text-primary text-sm bg-cream border border-primary focus:outline-none focus:ring-2 focus:ring-primary"
          type="password"
          name="confirmPassword"
          placeholder="Confirm new password"
          required
        />
      </div>
      <div class="text-center">
        <input
          class="px-6 py-2 bg-secondary text-white rounded-full font-semibold cursor-pointer hover:scale-105 transition-transform"
          type="submit"
          value="Change Password"
        />
      </div>
    </form>
  </div>
</div>
<% include ./partials/footer.ejs %> D
